footer {
    display: flex;
    justify-content: center;
    background-color: #EFC000;
    padding: 10px 0;
    height: 70px;
}

footer .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-footer a{
    color: white;
    margin-left: 25px;
}
