/* main */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans", sans-serif;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: blue;
}
