main {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#intro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

h3{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

#registration-intro {
    margin-top: 20px;
    display: flex;
    background-color: #EFC000;
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 15px;
    transition: ease 0.25s;
}

#registration-intro:hover {
    background-color: #e0b300;
}

#search {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#search-area {
    margin-top: 20px;
    width: 100%;
    display: flex;
}

#search-input {
    width: 85%;
    height: 50px;
    border-radius: 15px 0 0 15px;
    box-sizing: border-box;
    border: 2px solid #EFC000;
    border-right: 0;
    background-color: #E8E8E8;
    padding: 10px;
}

#search-button {
    width: 15%;
    border-radius: 0 15px 15px 0;
    border: 2px solid #EFC000;
    cursor: pointer;
    font-size: 16px;
    background-color: #EFC000;
    color: white;
    transition: ease 0.25s;
}

#search-button:hover {
    background-color: #e0b300;
}

#popular-books-block {
    margin-top: 40px;
}

#popular-books-block h3 {
    margin-bottom: 20px;
}

#popular-books {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#popular-books button{
    height: 40px;
    width: 40px;
    border: 0;
    background-color: #EFC000;
    color: white;
    border-radius: 100%;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: ease 0.25s;
}

#popular-books button:hover {
    background-color: #e0b300;
}

/* Новости */

#news-block {
    margin: 40px 0;
}

#all-news {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.news {
    width: 200px;
    height: 300px;
    border: solid 2px #e0b300;
    display: block;
    border-radius: 30px;
}